@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme:#14a91a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
}

.footerIcon{
  filter: brightness(0) saturate(100%) invert(42%) sepia(93%) saturate(923%) hue-rotate(87deg) brightness(93%) contrast(87%);
}
.hero{
  background: url('../../public/hero.png');
}
.themeLinear{
  background: #31FB0E;
background: linear-gradient(to right, #31FB0E 39%, #4DD028 50%, #B7FCB3 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
display: inline;

}
@media (max-width:991px) and (min-width:375px) {
  .showHidden{
    display: block !important;
  }
}
@media (min-width:992px) {
  .showMd{
    display: flex !important;
  }
}