@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme:#ffe400;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
}

.hero{
  background: url('../../public/hero2.jpg');
}
.themeLinear{
background: linear-gradient(to right, #d7fb0e 39%, #d2e735 50%, #f1fcb3 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
display: inline;
}
.themeFilterColor{
  filter: brightness(0) saturate(100%) invert(90%) sepia(23%) saturate(2816%) hue-rotate(357deg) brightness(102%) contrast(105%);
}
@media (max-width:991px) and (min-width:375px) {
  .showHidden{
    display: block !important;
  }
}
@media (min-width:992px) {
  .showMd{
    display: flex !important;
  }
}