#uncontrolled-tab-example{
    margin: auto;
    display: flex;
    justify-content: center;
    border: none;
    background: black;
    width: fit-content;
    padding: 3px;
    border-radius: 50px;
    overflow: scroll;
    white-space: nowrap;
    flex-wrap: nowrap;
}
.nav-tabs .nav-link{
border: none;
color: white;
border-radius: 50px;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border:none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background: var(--theme);
    color: white;
    border: none;
}

@media screen and (max-width:500px) {
    #uncontrolled-tab-example{
       width: 100%;
    }
}